@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "reg";
    src: url("../public/fonts/Mulish-Regular.ttf");
}

@font-face {
    font-family: "bold";
    src: url("../public/fonts/Mulish-Bold.ttf");
}